<html>
<head>
<meta charset="utf-8" />
<body>
<afd:extension parent="/layout/common.html">
	<afd:block override="content-title">
		Cascade form - complete
	</afd:block>
	<afd:block override="content-detail">
	    <!-- @ShowCode:showCompleteStart -->
		<section>
			<article>
				<p>Input flow completed.</p>
				<form method="post">
					<afd:embed target="/templates/form/cascade/formContent.html"></afd:embed>
					<button type="submit" name="step-exit" value="exit">return</button>
				</form>
			</article>
		</section>
	    <!-- @ShowCode:showCompleteEnd -->
	</afd:block>
</body>
</html>