<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../css/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../css/prettify.css" type="text/css" media="all">
<script type="text/javascript" src="../../js/prettify.js"></script>
<title>Asta4D Sample Project</title>
</head>
<body onload="prettyPrint()">
	<h1>Complete</h1>

    <!-- @ShowCode:showCompleteStart -->
	<section>
		<article>
			<p>Input flow completed.</p>
			<form method="post">
				<afd:embed target="/templates/form/cascade/formContent.html"></afd:embed>
				<button type="submit" name="step-exit" value="exit">return</button>
			</form>
		</article>
	</section>
    <!-- @ShowCode:showCompleteEnd -->

</body>
</html>