<html>
<head>
<meta charset="utf-8" />
</head>
<body>
<table border=0>
	<tr><td>name:</td><td class="name"><input name="name" type="text"/></td></tr>
	<tr><td>age:</td><td class="age"><input name="age" type="text"/></td></tr>
	<tr><td>sex:</td><td class="sex"><input id="sex" name="sex" type="radio"/><label for="sex">M</label></td></tr>
	<tr><td>bloodtype:</td><td class="bloodtype">
		<select id="bloodtype" name="bloodtype">
			<option value="A">A</option>
			<option value="R" afd:clear>R</option>
		</select>
	</td></tr>
	<tr><td>language:</td><td class="language"><input id="language" name="language" type="checkbox"/><label for="language">M</label></td></tr>
	<tr><td>memo:</td><td class="memo">
	<textarea name="memo"></textarea>
	</td></tr>
</table>
<input type="hidden" name="data-id">
<input type="hidden" name="action">
</body>
</html>