<html>
<head>
<meta charset="utf-8" />
</head>
<body>
<afd:extension parent="/layout/common.html">
	<afd:block append="header-resource">
		<script>
		function saveId(v){
			$("#checkedRowId").attr("value", v);
		}
		function getId(){
			return document.getElementById("checkedRowId").getAttribute("value");
		}
		function singleStepAdd(){
			location.href="form/singlestep";
		}
		function singleStepMod(){
			location.href="form/singlestep?id="+getId();
		}
		
		function mstepadd(){
			location.href="form/multistep";
		}
		
		function mstepmod(){
			location.href="form/multistep?id="+getId();	
		}
		
		function casadd(){
			location.href="form/cascade/add";
		}
		
		function casmod(){
			location.href="form/cascade/edit?id="+getId();	
		}
			
		function minpadd(){
			location.href="form/multiinput/add";
		}
		
		function minpmod(){
			location.href="form/multiinput/edit?id="+getId();	
		}
		
		function spladd(){
			location.href="form/splittedinput/add";
		}
		
		function splmod(){
			location.href="form/splittedinput/edit?id="+getId();	
		}
		
		</script>
	
	</afd:block>
	<afd:block override="content-title">
		Form flow samples
	</afd:block>
	<afd:block override="content-detail">
		<div class="panel panel-warning">
			<div class="panel-heading"><h3>List</h3></div>
			<div class="panel-body">
				<table class="table" afd:render="form.ListSnippet">
					<tr>
						<th>&nbsp;</th>
						<th>name</th>
						<th>age</th>
						<th>sex</th>
						<th>blood</th>
						<th>language</th>
					</tr>
					<tr class="x-row">
						<td class="x-check"><input name="_id" type=radio value="" onclick="saveId(this.value)"></td>
						<td class="x-name">name</td>
						<td class="x-age">age</td>
						<td class="x-sex">sex</td>
						<td class="x-blood">blood</td>
						<td class="x-language"><span>lang1</span><span afd:clear>lang2</span></td>
					</tr>
				</table>
				<afd:snippet render="form.ListSnippet:showTabs">
				<ul id="btn-nav" class="nav nav-tabs" role="tablist">
					<li id="singlestep" class="active" target-btns="single-step-btns"><a href="/form?type=singlestep">Single input step</a></li>
					<li id="multistep" target-btns="confirm-complete-btns"><a href="/form?type=multistep">Input, Confirm and Complete</a></li>
					<li id="cascade" target-btns="cascade-form-btns"><a href="/form?type=cascade">Cascade and array field</a></li>
					<li id="multiinput" target-btns="splitted-form-btns"><a href="/form?type=multiinput">Multiple input steps</a></li>
					<li id="splittedinput" target-btns="splitted-form-btns"><a href="/form?type=splittedinput">Splitted input steps</a></li>
				</ul>
				<div class="form-btns x-remove" id="singlestep">
					<afd:embed target="/templates/form/singlestep/comment.html" />
					<div>
						<button type=button class="btn btn-sm btn-default" onclick="singleStepAdd()">add</button>
						<button type=button class="btn btn-sm btn-default" onclick="singleStepMod()">modify</button>
					</div>
				</div>
				<div class="form-btns x-remove" id="multistep">
					<afd:embed target="/templates/form/multistep/comment.html" />
					<div>
						<button class="btn btn-sm btn-default" type=button onclick="mstepadd()">add</button>
						<button type=button class="btn btn-sm btn-default" onclick="mstepmod()">modify</button>
					</div>
				</div>
				<div class="form-btns x-remove" id="cascade">
					<afd:embed target="/templates/form/cascade/comment.html" />
					<div>
						<button type=button class="btn btn-sm btn-default" onclick="casadd()">add</button>
						<button type=button class="btn btn-sm btn-default" onclick="casmod()">modify</button>
					</div>
				</div>
				<div class="form-btns x-remove" id="multiinput">
					<afd:embed target="/templates/form/multiinput/comment.html" />
					<div>
						<button type=button class="btn btn-sm btn-default" onclick="minpadd()">add</button>
						<button type=button class="btn btn-sm btn-default" onclick="minpmod()">modify</button>
					</div>
				</div>
				<div class="form-btns x-remove" id="splittedinput">
					<afd:embed target="/templates/form/splittedinput/comment.html" />
					<div>
						<button type=button class="btn btn-sm btn-default" onclick="spladd()">add</button>
						<button type=button class="btn btn-sm btn-default" onclick="splmod()">modify</button>
					</div>
				</div>
				</afd:snippet>
			</div>
		</div>
		
		<input type=hidden id="checkedRowId">
	</afd:block>
</body>
</html>