<html>
<head>
	<meta charset="utf-8">
</head>
<body>
<!-- @ShowCode:showBtnsStart -->
<!-- this file can be embed by all the form html to supply a common button bar -->
<div class="form-btn-bar">
	<input type="hidden" name="step-current" value="confirm">
	<input type="hidden" name="step-failed" value="input">
	<button type="submit" name="step-exit" class="btn btn-sm btn-default" value="exit">cancel</button>
	<button type="submit" name="step-back" class="btn btn-sm btn-default" value="input">back</button>
	<button type="submit" name="step-success" class="btn btn-sm btn-default" value="complete">send</button>
</div>
<!-- @ShowCode:showBtnsEnd -->
</body>
</html>