<html>
<head>
<meta charset="utf-8" />
</head>
<body>
<afd:extension parent="/layout/common.html">
	<afd:block override="content-title">
		Multiple steps form
	</afd:block>
	<afd:block override="content-detail">
		<div class="panel panel-warning">
			<div class="panel-heading"><h3>Complete</h3></div>
			<div class="panel-body">
				<!-- @ShowCode:showCompleteStart -->
				<section>
					<article>
						<p>Input flow completed.</p>
						<form method="post">
							<table border=0 afd:render="form.MultiStepFormSnippet">
								<tr><td>name:</td><td class="name"><span id="name-display"></span></td></tr>
								<tr><td>age:</td><td class="age"><span id="age-display"></span></tr>
								<tr><td>sex:</td><td class="sex"><span id="sex-display"></span></tr>
								<tr><td>bloodtype:</td><td class="bloodtype"><span id="bloodtype-display"></span></td></tr>
								<tr><td>language:</td><td class="language"><span id="language-display"></span></td></tr>
							</table>
							<afd:embed target="/templates/form/multistep/btns-complete.html"/>
						</form>
					</article>
				</section>
				<!-- @ShowCode:showCompleteEnd -->
			</div>
		</div>
		<div afd:render="ShowCodeSnippet:showCode" file="/templates/form/multistep/complete.html" startMark="showCompleteStart" endMark="showCompleteEnd"/>
		<div afd:render="ShowCodeSnippet:showCode" file="/templates/form/multistep/btns-complete.html" startMark="showBtnsStart" endMark="showBtnsEnd"/>
		<div afd:render="ShowCodeSnippet:showCode" file="/handler/form/MultiStepEditHandler.java" startMark="showMultiStepEditHandlerStart" endMark="showMultiStepEditHandlerEnd"/>

	</afd:block>
</body>
</html>