<html>
<head>
<meta charset="utf-8" />
</head>
<body>
<afd:extension parent="/layout/common.html">
	<afd:block override="content-title">
		Multiple steps form - confirm
	</afd:block>
	<afd:block override="content-detail">

	    <!-- @ShowCode:showConfirmStart -->
		<section>
			<article>
				<p>Are you sure you have the correct?</p>
				<form method="post">
					<afd:embed target="/templates/form/multistep/formContent.html"></afd:embed>
					<div class="form-btn-bar">
					<input type="hidden" name="step-current" value="confirm">
					<input type="hidden" name="step-failed" value="input">
					<button type="submit" name="step-success" class="btn btn-sm btn-default" value="complete">send</button>
					<button type="submit" name="step-back" class="btn btn-sm btn-default" value="input">back</button>
					<button type="submit" name="step-exit" class="btn btn-sm btn-default" value="exit">cancel</button>
					</div>
				</form>
			</article>
		</section>
	    <!-- @ShowCode:showConfirmEnd -->
	</afd:block>
</body>
</html>