<html>
<head>
	<meta charset="utf-8">
</head>
<body>
<ul>
<li>declare an url rule for a single input step form
<li>define a common button template file for all the form pages
<li>render option data for select, radio and checkbo by snippet
<li>request handler
	<ul>
		<li>form initialization
		<li>update form data 	to database
		<li>output update result message to default global message bar
	</ul>
<li>validation
	<ul>
		<li>annotate form field on form POJO 
			<ul>
				<li>extend from the entity POJO
				<li>customize field name by nameLable of form field annotation
			</ul>
		<li>annotate bean validation on entity POJO
		<li>use default validation message generation mechanism
		<li>output validation messages to default global message bar
	</ul>
</ul>
</body>
</html>