<html>
<head>
</head>
<body>
<div id="global-msg-container" style="width:90%;">
	<ul id="info-msg">
		<li style="background-color:#C1FFC1" afd:message-duplicator>
		<span>info-msg-stub</span>
	</ul>
	<ul id="warn-msg">
		<li style="background-color:#FFF68F" afd:message-duplicator>
		<span>warn-msg-stub</span>
	</ul>
	<ul id="err-msg">
		<li style="background-color:#FFC1C1" afd:message-duplicator>
		<span>err-msg-stub</span>
	</ul>
</div>

<div id="msg-info" afd:message-duplicator>
	<span></span>
</div>
<div id="msg-warn" afd:message-duplicator>
	<span></span>
</div>
<div id="msg-err" afd:message-duplicator>
	<span></span>
</div>

</body>
</html>