body {
	font-szie: 18;
	margin: 10px auto;
	line-height: 2em;
	width: 90%;
}

pre {
	margin: -15px;
}

.panel-usage {
	width:48%;
}

.panel-usage-simple {
	float: left;
}

.panel-usage-complicated {
	float: right;
}

.block-main {
	width: 50%;
	float: left;
}

.block-side-comment {
	width: 50%;
	background-color:#DCDCDC;
	float: right;
}

pre.form-field-pre {
	margin: 10px;
	background-color: white;
}
.form-input-table td{
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-input-table label{
	margin-left: 2px;
	margin-right: 5px;
	font-weight: normal;
}

.form-btn-bar {
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-btn-bar button{
	margin-top: 5px;
	margin-right: 5px;
}

.form-list-btn-bar {
	font-size: 18;
	line-height: 3em;
}

.bold {
	font-weight: bold;
	
}

.italic {
	font-style: italic;
}

.red {
	color: red;
}