<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<afd:block id="header-common">
</afd:block>

<afd:block id="header-resource">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	
	<link type="text/css" rel="stylesheet" href="/css/common.css" />
	<link type="text/css" rel="stylesheet" href="/css/prettify.css" />	
	<script type="text/javascript" src="/js/prettify.js"></script>
</afd:block>

<afd:block id="header-title">
	<title>Asta4D Sample Project</title>
</afd:block>

</head>
<body onload="prettyPrint()">
<afd:block id="content">
</afd:block>

<afd:block id="footer-resource">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</afd:block>

</body>
</html>