<html>
<head>
</head>
<body>
<form afd:render="field.CheckboxTest$TestSnippet:staticOptionDisplayMultiValue">

<input type="checkbox" id="nullvalue-x" name="nullvalue" value="x" checked></input><label for="nullvalue-x">xc</label>
<input type="checkbox" id="nullvalue-y" name="nullvalue" value="y"></input><label for="nullvalue-y">yc</label>
<input type="checkbox" id="nullvalue-z" name="nullvalue" value="z"></input><label for="nullvalue-z">zc</label>

<div></div>

<input type="checkbox" id="nullvalue-2-x" name="nullvalue-2" value="x"></input><label for="nullvalue-2-x">xc</label>
<input type="checkbox" id="nullvalue-2-y" name="nullvalue-2" value="y"></input><label for="nullvalue-2-y">yc</label>
<input type="checkbox" id="nullvalue-2-z" name="nullvalue-2" value="z"></input><label for="nullvalue-2-z">zc</label>
<input type="checkbox" id="nullvalue-2-" name="nullvalue-2" value=""></input><label for="nullvalue-2-">c</label>

<div></div>

<input type="checkbox" id="emptyvalue-x" name="emptyvalue" value="x" checked></input><label for="emptyvalue-x">xc</label>
<input type="checkbox" id="emptyvalue-y" name="emptyvalue" value="y"></input><label for="emptyvalue-y">yc</label>
<input type="checkbox" id="emptyvalue-z" name="emptyvalue" value="z"></input><label for="emptyvalue-z">zc</label>

<div></div>

<input type="checkbox" id="emptyvalue-2-x" name="emptyvalue-2" value="x"></input><label for="emptyvalue-2-x">xc</label>
<input type="checkbox" id="emptyvalue-2-y" name="emptyvalue-2" value="y"></input><label for="emptyvalue-2-y">yc</label>
<input type="checkbox" id="emptyvalue-2-z" name="emptyvalue-2" value="z"></input><label for="emptyvalue-2-z">zc</label>
<input type="checkbox" id="emptyvalue-2-" name="emptyvalue-2" value=""></input><label for="emptyvalue-2-">c</label>

<div></div>

<input type="checkbox" id="rvalue-s" name="rvalue" value="s"></input>
<div radio-label-for="rvalue-s"><img src=""/><label for="rvalue-s">sc</label></div>

<input type="checkbox" id="rvalue-t" name="rvalue" value="t"></input>
<div radio-label-for="rvalue-t"><img src=""/><label for="rvalue-t">tc</label></div>

<div></div>

<input type="checkbox" id="rvalue-2-r" name="rvalue-2"  value="r"></input>
<div radio-label-for="rvalue-2-r"><img src=""/><label for="rvalue-2-r">rc</label></div>

<input type="checkbox" id="rvalue-2-s" name="rvalue-2" value="s"></input>
<div radio-label-for="rvalue-2-s"><img src=""/><label for="rvalue-2-s">sc</label></div>

<input type="checkbox" id="rvalue-2-t" name="rvalue-2" value="t"></input>
<div radio-label-for="rvalue-2-t"><img src=""/><label for="rvalue-2-t">tc</label></div>

<div></div>

<input type="checkbox" id="svalue-r" name="svalue" value="r"></input>
<div radio-label-for="svalue-r"><img src=""/><label for="svalue-r">rc</label></div>

<input type="checkbox" id="svalue-t" name="svalue" value="t"></input>
<div radio-label-for="svalue-t"><img src=""/><label for="svalue-t">tc</label></div>

<i id="svalue-display"></i>
<div></div>

<input type="checkbox" id="svalue-2-r" name="svalue-2"  value="r"></input>
<div radio-label-for="svalue-2-r"><img src=""/><label for="svalue-2-r">rc</label></div>

<input type="checkbox" id="svalue-2-s" name="svalue-2" value="s"></input>
<div radio-label-for="svalue-2-s"><img src=""/><label for="svalue-2-s">sc</label></div>

<input type="checkbox" id="svalue-2-t" name="svalue-2" value="t"></input>
<div radio-label-for="svalue-2-t"><img src=""/><label for="svalue-2-t">tc</label></div>

<i id="svalue-2-display"></i>

<div></div>

<input type="checkbox" id="wvalue-y" name="wvalue" value="y"></input><label for="wvalue-y">yc</label>
<input type="checkbox" id="wvalue-z" name="wvalue" value="z"></input><label for="wvalue-z">zc</label>
<i id="wvalue-display"></i>
<div></div>

<input type="checkbox" id="wvalue-2-w" name="wvalue-2" value="w"></input><label for="wvalue-2-w">wc</label>
<input type="checkbox" id="wvalue-2-x" name="wvalue-2" value="x"></input><label for="wvalue-2-x">xc</label>
<input type="checkbox" id="wvalue-2-y" name="wvalue-2" value="y"></input><label for="wvalue-2-y">yc</label>
<input type="checkbox" id="wvalue-2-z" name="wvalue-2" value="z"></input><label for="wvalue-2-z">zc</label>
<i id="wvalue-2-display"></i>
<div></div>

<input type="checkbox" id="xvalue-y" name="xvalue" value="y"></input><label for="xvalue-y">yc</label>
<input type="checkbox" id="xvalue-z" name="xvalue" value="z"></input><label for="xvalue-z">zc</label>

<div></div>

<input type="checkbox" id="xvalue-2-x" name="xvalue-2" value="x"></input><label for="xvalue-2-x">xc</label>
<input type="checkbox" id="xvalue-2-y" name="xvalue-2" value="y"></input><label for="xvalue-2-y">yc</label>
<input type="checkbox" id="xvalue-2-z" name="xvalue-2" value="z"></input><label for="xvalue-2-z">zc</label>

<div></div>

<div class="yvalue-wrapper">
	<input type="checkbox" id="yvalue-x" name="yvalue" value="x"></input>
	<label for="yvalue-x">xc</label>
</div>
<div class="yvalue-wrapper">
	<input type="checkbox" id="yvalue-" name="yvalue" value=""></input>
	<label for="yvalue-">c</label>
</div>
<div class="yvalue-wrapper">
	<input type="checkbox" id="yvalue-z" name="yvalue" value="z"></input>
	<label for="yvalue-z">zc</label>
</div>

<div class="yvalue-2-wrapper">
	<input type="checkbox" id="yvalue-2-x" name="yvalue-2" value="x"></input>
	<label for="yvalue-2-x">xc</label>
</div>
<div class="yvalue-2-wrapper">
	<input type="checkbox" id="yvalue-2-y" name="yvalue-2" value="y"></input>
	<label for="yvalue-2-y">yc</label>
</div>
<div class="yvalue-2-wrapper">
	<input type="checkbox" id="yvalue-2-z" name="yvalue-2" value="z"></input>
	<label for="yvalue-2-z">zc</label>
</div>

</form>


</body>
</html>