<html>
<head>
</head>
<body>
<form afd:render="field.CheckboxTest$TestSnippet:normalEditValue">

<input type="checkbox" id="nullvalue-x" name="nullvalue" checked></input><label for="nullvalue-x">xc</label>
<input type="checkbox" id="nullvalue-y" name="nullvalue" afd:clear></input><label for="nullvalue-y" afd:clear>yc</label>
<input type="checkbox" id="nullvalue-z" name="nullvalue" afd:clear></input><label for="nullvalue-z" afd:clear>zc</label>

<div></div>

<input type="checkbox" id="nullvalue-2-x" name="nullvalue-2" ></input><label for="nullvalue-2-x">x</label>
<input type="checkbox" id="nullvalue-2-y" name="nullvalue-2"  afd:clear></input><label for="nullvalue-2-y" afd:clear>y</label>
<input type="checkbox" id="nullvalue-2-z" name="nullvalue-2"  afd:clear></input><label for="nullvalue-2-z" afd:clear>z</label>
<input type="checkbox" id="nullvalue-2-z" name="nullvalue-2"  afd:clear></input><label for="nullvalue-2-z" afd:clear></label>

<div></div>

<input type="checkbox" id="emptyvalue-x" name="emptyvalue" checked></input><label for="emptyvalue-x">xc</label>
<input type="checkbox" id="emptyvalue-y" name="emptyvalue" afd:clear></input><label for="emptyvalue-y" afd:clear>yc</label>
<input type="checkbox" id="emptyvalue-z" name="emptyvalue" afd:clear></input><label for="emptyvalue-z" afd:clear>zc</label>

<div></div>

<input type="checkbox" id="emptyvalue-2-x" name="emptyvalue-2" ></input><label for="emptyvalue-2-x">xc</label>
<input type="checkbox" id="emptyvalue-2-y" name="emptyvalue-2"  afd:clear></input><label for="emptyvalue-2-y" afd:clear>yc</label>
<input type="checkbox" id="emptyvalue-2-z" name="emptyvalue-2"  afd:clear></input><label for="emptyvalue-2-z" afd:clear>zc</label>
<input type="checkbox" id="emptyvalue-2-z" name="emptyvalue-2"  afd:clear></input><label for="emptyvalue-2-z" afd:clear>ccc</label>

<div></div>

<input type="checkbox" id="rvalue-s" name="rvalue"></input>
<div radio-label-for="rvalue-s"><img src=""/><label for="rvalue-s">sc</label></div>

<input type="checkbox" id="rvalue-t" name="rvalue" afd:clear></input>
<div radio-label-for="rvalue-t" afd:clear><img src=""/><label for="rvalue-t">tc</label></div>

<div></div>

<input type="checkbox" id="rvalue-2-r" name="rvalue-2"></input>
<div radio-label-for="rvalue-2-r"><img src=""/><label for="rvalue-2-r">rc</label></div>

<input type="checkbox" id="rvalue-2-s" name="rvalue-2" afd:clear></input>
<div radio-label-for="rvalue-2-s" afd:clear><img src=""/><label for="rvalue-2-s">sc</label></div>

<input type="checkbox" id="rvalue-2-t" name="rvalue-2" afd:clear></input>
<div radio-label-for="rvalue-2-t" afd:clear><img src=""/><label for="rvalue-2-t">tc</label></div>

<div></div>

<input type="checkbox" id="uvalue" name="uvalue"></input>

<div></div>

<input type="checkbox" id="uvalue-2" name="uvalue-2"></input>

<div></div>

<input type="checkbox" id="xvalue-y" name="xvalue"></input><label for="xvalue-y">yc</label>
<input type="checkbox" id="xvalue-z" name="xvalue" afd:clear></input><label for="xvalue-z" afd:clear>zc</label>

<div></div>

<input type="checkbox" id="xvalue-2-x" name="xvalue-2" ></input><label for="xvalue-2-x">xc</label>
<input type="checkbox" id="xvalue-2-y" name="xvalue-2"  afd:clear></input><label for="xvalue-2-y" afd:clear>yc</label>
<input type="checkbox" id="xvalue-2-z" name="xvalue-2"  afd:clear></input><label for="xvalue-2-z" afd:clear>zc</label>

<div></div>

<div class="yvalue-wrapper">
	<input type="checkbox" id="yvalue-x" name="yvalue" ></input><label for="yvalue-x">xc</label>
</div>
<div afd:clear>
	<input type="checkbox" id="yvalue-y" name="yvalue" ></input><label for="yvalue-y">yc</label>
</div>
<div afd:clear>
	<input type="checkbox" id="yvalue-z" name="yvalue" ></input><label for="yvalue-z">zc</label>
</div>

<div class="yvalue-2-wrapper">
	<input type="checkbox" id="yvalue-2-x" name="yvalue-2" ></input><label for="yvalue-2-x">xc</label>
</div>
<div afd:clear>
	<input type="checkbox" id="yvalue-2-y" name="yvalue-2" ></input><label for="yvalue-2-y">yc</label>
</div>
<div afd:clear>
	<input type="checkbox" id="yvalue-2-z" name="yvalue-2" ></input><label for="yvalue-2-z">zc</label>
</div>

</form>


</body>
</html>