<html>
<head>
</head>
<body>
<form afd:render="field.DateTest$TestSnippet:normalEditValue">
<input type="date" name="nullvalue">
<input type="date" name="emptyvalue">
<input type="date" name="datevalue">
<input type="date" name="jodadatetimevalue">
<input type="date" name="jodalocaldatevalue">
</form>

<form afd:render="field.DateTest$TestSnippet:normalDisplayValue">
<input type="date" name="nullvalue">
<input type="date" name="emptyvalue">
<input type="date" name="datevalue">
<input type="date" name="jodadatetimevalue"><div id="jodadatetimevalue-display"></div>
<div id="jodalocaldatevalue-display"></div>
</form>

</body>
</html>