<html>
<head>
</head>
<body>
<form afd:render="field.SelectMultipleTest$TestSnippet:normalDisplayMultiValue">
<select name="nullvalue">
	<option value="xx" selected>xx</option>
	<option value="yy" afd:clear>yy</option>
	<option value="zz" afd:clear>zz</option>
</select>
<select name="nullvalue-2">
	<option value="xx">xx</option>
</select>
<select name="emptyvalue">
	<option value="xx">xx</option>
</select>
<select name="emptyvalue-2">
	<option value="xx">xx</option>
</select>
<select name="spacevalue">
	<option value="xx">xx</option>
</select>
<select name="spacevalue-2">
	<option value="xx">xx</option>
</select>
<select name="xvalue">
	<option value="xx">xx</option>
</select>
<div id="xvalue-display"></div>
<select name="xvalue-2">
	<option value="xx">xx</option>
</select>
<div id="xvalue-2-display"></div>
<select name="yvalue">
	<optgroup label="Ac">
		<option value="xc" selected>xc</option>
		<option value="yc" afd:clear>yc</option>
		<option value="zc" afd:clear>zc</option>
	</optgroup>
	<optgroup label="AAc" afd:clear>
		<option value="xx">xx</option>
		<option value="yy">yy</option>
		<option value="zz">zz</option>
	</optgroup>
</select>
<div id="yvalue-display"></div>
<select name="yvalue-2">
	<optgroup label="Ac">
		<option value="xc">xc</option>
		<option value="y" afd:clear>y</option>
		<option value="z" afd:clear>z</option>
	</optgroup>
</select>
<div id="yvalue-2-display"></div>
<div id="zvalue-display"></div>
<div id="zvalue-2-display"></div>
</form>


</body>
</html>