<html>
<head>
</head>
<body>
<form afd:render="field.TextareaTest$TestSnippet:normalEditValue">
<textarea name="nullvalue">
</textarea>
<textarea name="emptyvalue">
</textarea>
<textarea name="xvalue">
</textarea>
</form>

<form afd:render="field.TextareaTest$TestSnippet:normalDisplayValue">
<textarea name="nullvalue">
</textarea>
<textarea name="emptyvalue">
</textarea>
<textarea name="xvalue">
</textarea>
<textarea name="yvalue">
</textarea><i id="yvalue-display"></i>
<div id="zvalue-display"></div>
</form>

</body>
</html>