<html>
<head>
</head>
<body>
<form afd:render="field.InputDefaultTest$TestSnippet:normalEditValue">
<input type="text" name="nullvalue">
<input type="text" name="emptyvalue">
<input type="text" name="xvalue">
</form>

<form afd:render="field.InputDefaultTest$TestSnippet:normalDisplayValue">
<input type="text" name="nullvalue">
<input type="text" name="emptyvalue">
<input type="text" name="xvalue">
<input type="text" name="yvalue"><div id="yvalue-display"></div>
<div id="zvalue-display"></div>
</form>

</body>
</html>