<html>
<head>
</head>
<body>
<form afd:render="field.TimeTest$TestSnippet:normalEditValue">
<input type="time" name="nullvalue">
<input type="time" name="emptyvalue">
<input type="time" name="datevalue">
<input type="time" name="jodadatetimevalue">
<input type="time" name="jodalocaltimevalue">
<input type="time" name="java8instantvalue">
<input type="date" name="java8localdatetimevalue">
<input type="time" name="java8localtimevalue">
</form>

<form afd:render="field.TimeTest$TestSnippet:normalDisplayValue">
<input type="time" name="nullvalue">
<input type="time" name="emptyvalue">
<input type="time" name="datevalue">
<input type="time" name="jodadatetimevalue"><div id="jodadatetimevalue-display"></div>
<div id="jodalocaltimevalue-display"></div>
<input type="time" name="java8instantvalue">
<input type="date" name="java8localdatetimevalue">
<input type="time" name="java8localtimevalue">
</form>

</body>
</html>