<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../css/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../../css/prettify.css" type="text/css" media="all">
<script type="text/javascript" src="../../../js/prettify.js"></script>
<title>Asta4D Sample Project</title>
</head>
<body onload="prettyPrint()">
	<h1>Input</h1>

    <!-- @ShowCode:showInputStart -->
	<section>
		<article>
			<form method="post" afd:render="form.OneStepFormSnippet">
			<table border=0>
				<tr><td>name:</td><td class="name"><input name="name" type="text"/></td></tr>
				<tr><td>age:</td><td class="age"><input name="age" type="text"/></td></tr>
				<tr><td>sex:</td><td class="sex"><input id="sex" name="sex" type="radio"/><label for="sex">M</label></td></tr>
				<tr><td>bloodtype:</td><td class="bloodtype">
					<select id="bloodtype" name="bloodtype">
						<option value="A">A</option>
						<option value="R" afd:clear>R</option>
					</select>
				</td></tr>
				<tr><td>language:</td><td class="language"><input id="language" name="language" type="checkbox"/><label for="language">M</label></td></tr>
				<tr><td>memo:</td><td class="memo">
				<textarea name="memo"></textarea>
				</td></tr>
			</table>
			<input type="hidden" name="data-id">
			<input type="hidden" name="action">
				<input type="hidden" name="step-current" value="input">
				<input type="hidden" name="step-failed" value="input">
				<button type="submit" name="step-success" value="complete">save</button>
				<button type="submit" name="step-exit" value="exit">cancel</button>
			</form>
		</article>
	</section>
    <!-- @ShowCode:showInputEnd -->


</body>
</html>