<html>
<head>
	<meta charset="utf-8">
</head>
<body>
<ul>
<li>There are three input steps.
<li>Utilizing ExcludingFieldRetrievableForm mechanism.
	<ul>
		<li>The first and second input step share the same form class (split single form into multiple input steps)
		<li>The first and second input step share the same html snippet for page rendering.
	</ul>
<li>Making use of StepRepresentableForm to specify form rendering target rather the whole form instance itself.
<li>Using StepAwaredValidatableForm and StepAwaredValidationTarget to annotate validation target rather than the form instance itself.
</ul>
</body>
</html>