<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<title>Asta4D Sample Project</title>
</head>
<body>
	<h1>Use ContextData annotation.</h1>

	<section>
		<article>
			Default Data Scope Order:
			<ol>
				<li>SCOPE_ATTR</li>
				<li>SCOPE_PATHVAR</li>
				<li>SCOPE_QUERYPARAM</li>
				<li>SCOPE_FLASH</li>
				<li>SCOPE_COOKIE</li>
				<li>SCOPE_HEADER</li>
				<li>SCOPE_REQUEST</li>
				<li>SCOPE_SESSION</li>
				<li>SCOPE_GLOBAL</li>
			</ol>
			This order can be customize to use below method.<br/>
			com.astamuse.asta4d.data.DefaultContextDataFinder#setDataSearchScopeOrder()<br/>
		</article>

		<article>
			<dl>
				<dt>User @ContextData to change variable name.</dt>
				<dd var="value" afd:render="ComplicatedSnippet:changeName">changeName</dd>
				<dt>User @ContextData to specific query scope.</dt>
				<dd var="value" afd:render="ComplicatedSnippet:specificScope">specificScope</dd>
			</dl>
		</article>
	</section>

</body>
</html>