<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<title>Asta4D Sample Project</title>
</head>
<body>
	<h1>Use dynamic Snippet and dynamic embed.</h1>

	<section>
		<article>
			<afd:snippet render="ComplicatedSnippet:createDynamicSnippet">
				<div id="snippet">dummy text</div>
				<div id="embed">dummy text</div>
			</afd:snippet>
		</article>
	</section>

</body>
</html>