<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="../css/common.css" rel="stylesheet" type="text/css" />
		<title>Asta4D Sample Project</title>
	</head>
	<body>
		<h1>Localize Messages.</h1>

		<section>
			<article afd:render="ComplicatedSnippet:setWeatherreportParam">
				<afd:msg key="weatherreport1" p0="weather" id="weatherreport1">天気</afd:msg><br/>
				<afd:msg key="weatherreport2" p0="weather" id="weatherreport2" externalize="p0">天気</afd:msg><br/>
				<afd:msg key="weatherreport3" p0="weather" id="weatherreport3" externalize="p0" locale="ja_JP">天気</afd:msg><br/>
				<afd:msg key="textUrl">test<a href="https://www.google.co.jp/">link</a>test</afd:msg><br/>
				<afd:msg key="htmlUrl">test<a href="https://www.google.co.jp/">link</a>test</afd:msg><br/>
				<afd:msg key="escapedUrl">test<a href="https://www.google.co.jp/">link</a>test</afd:msg><br/>
			</article>
		</section>

	</body>
</html>