<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<title>Asta4D Sample Project</title>
</head>
<body>
	<h1>Pass variables from outer Snippet to inner Snippet.</h1>

	<section>
		<article>
			<div id="outer" afd:render="ComplicatedSnippet:outer">
				<div id="inner" afd:render="ComplicatedSnippet:inner">
					<p id="name">name:<span>name</span></p>
					<p id="age">age:<span>age</span></p>
					<p id="currenttime">currenttime:<span>currenttime</span></p>
					<ul id="list">
						<li>dummy list</li>
					</ul>
				</div>
			</div>
		</article>
	</section>

</body>
</html>