<html>
<head>
<meta charset="utf-8" />
</head>
<body>
<afd:extension parent="/layout/common.html">
	<afd:block override="content-title">
		Use Snippet for rendering dynamic page
	</afd:block>
	<afd:block override="content-detail">
		<!-- @ShowCode:showSnippetStart -->
		<section>
			<article>
				<div afd:render="SimpleSnippet">dummy text</div>
	
				<afd:snippet render="SimpleSnippet:setProfile">
					<p id="name">name:<span>dummy name</span></p>
					<p id="age">age:<span>0</span></p>
				</afd:snippet>
			</article>
		</section>
		<!--@ShowCode:showSnippetEnd -->
	
		<div afd:render="ShowCodeSnippet:showCode" file="/templates/snippet.html" startMark="showSnippetStart" endMark="showSnippetEnd"/>
	
		<div afd:render="ShowCodeSnippet:showCode" file="/snippet/SimpleSnippet.java" startMark="showSnippetStart" endMark="showSnippetEnd"/>
	</afd:block>
</body>
</html>