<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../css/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../css/prettify.css" type="text/css" media="all">
<script type="text/javascript" src="../../js/prettify.js"></script>
<title>Asta4D Sample Project</title>
</head>
<body onload="prettyPrint()">
	<h1>Input</h1>

    <!-- @ShowCode:showInputStart -->
	<section>
		<article>
			<form action="./confirm" method="post" afd:render="NewFormSnippet">
				<label for="name">name:</label><input id="name" name="name" type="text"/><br />
				<label for="age">age</label><input id="age" name="age" type="text"/><br />
				<label for="bloodtype">bloodtype:</label>
				<select id="bloodtype" name="bloodtype">
					<option/>
				</select><br />
				<input type="submit" value="confirm"><span>(Left the name or age empty then click the confirm, the flash scope data will be performed)</span>
			</form>
		</article>
	</section>
    <!-- @ShowCode:showInputEnd -->

    <div afd:render="ShowCodeSnippet:showCode" file="/templates/form/input.html" startMark="showInputStart" endMark="showInputEnd">
    </div>

    <div afd:render="ShowCodeSnippet:showCode" file="/handler/FormValidateHandler.java" startMark="showFormValidateHandlerStart" endMark="showFormValidateHandlerStartEnd">
    </div>

    <div afd:render="ShowCodeSnippet:showCode" file="/snippet/FormSnippet.java" startMark="showInputStart" endMark="showInputEnd">
    </div>
</body>
</html>