<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../css/common.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../css/prettify.css" type="text/css" media="all">
<script type="text/javascript" src="../../js/prettify.js"></script>
<title>Asta4D Sample Project</title>
</head>
<body onload="prettyPrint()">
	<h1>Input</h1>

    <!-- @ShowCode:showInputStart -->
	<section>
		<article>
			<form method="post" afd:render="NewFormSnippet">
				<afd:embed target="/templates/newform/formContent.html" static></afd:embed>
				<input type="hidden" name="step-current" value="input">
				<input type="hidden" name="step-failed" value="input">
				<button type="submit" name="step-success" value="confirm">confirm</button>
			</form>
		</article>
	</section>
    <!-- @ShowCode:showInputEnd -->

    <div afd:render="ShowCodeSnippet:showCode" file="/templates/form/input.html" startMark="showInputStart" endMark="showInputEnd">
    </div>

    <div afd:render="ShowCodeSnippet:showCode" file="/handler/FormValidateHandler.java" startMark="showFormValidateHandlerStart" endMark="showFormValidateHandlerStartEnd">
    </div>

    <div afd:render="ShowCodeSnippet:showCode" file="/snippet/FormSnippet.java" startMark="showInputStart" endMark="showInputEnd">
    </div>
</body>
</html>